<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HBNB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}?cache_id={{ cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-footer.css') }}?cache_id={{ cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/4-filters.css') }}?cache_id={{ cache_id }}">
    <!-- Add other static asset links with cache_id -->
</head>
<body>
    <!-- Your HTML content -->
</body>
</html>
